<ion-header>
  <ion-navbar>
    <ion-title>
      OpenTok Ionic Basic Video Chat
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="text-align:center">
    <button (click)="startCall()">Start OpenTok Call</button>
  </div>
  <div id="subscriber">

  </div>
  <div id="publisher">
    <button></button>
  </div>
</ion-content>
