page-home {
  #publisher{
    position: relative!important;
    button{
      position: absolute!important;
      width: 50px;
      height: 50px;
      background-color: red;
      top: 0;
      left: 0;
      z-index: 100!important;
    }
    .OT_video-container{
      position: absolute!important;
      z-index: -1!important;
    }
  }
}
